<%- include('../partials/header') %>

<h2>My Cat-ALE-logs</h2>

<a href="/catalelogs/new">Add a New Cat-ALE-log</a>

<ul>
    <% catalelogs.forEach(function(catalelog) { %>
        <li>
            <form action="/catalelogs/<%= catalelog.id %>?_method=DELETE" method="POST">
                <button type="submit">X</button>
            </form>
            <a href="/catalelogs/<%= catalelog.id %>">
                <%= catalelog.name %>
            </a>
        </li>
        <% }); %>
</ul>

<%- include('../partials/footer') %>