<%- include('../partials/header.ejs') %>
<div class="container">
    <h3 class="indigo-text text-darken-4" id="title-show"><%= catalelog.name %></h3>
    <h5 class="indigo-text text-darken-4"><%= catalelog.beer.length %> Beers in List</h5>
    <a href="/catalelogs/<%= catalelog.id %>/edit">
        <button class="btn waves-effect waves-light" id="edit-cat">Edit Name</button>
    </a>

    <ul class="collection with-header">
        <li class="collection-header indigo-text text-darken-4"><h5>Beer Name</h5></li>
        <% if (catalelog.beer.length) { %>
        <% catalelog.beer.forEach(function(beer) { %>
        <li class="collection-item indigo-text text-darken-4">
            <a href="/beers/<%= beer.id %>/catalelog?catalelogId=<%= catalelogId %>"><%= beer.name %></a>
                <form action="/beers/<%= catalelog.id %>/<%= beer.id %>?_method=DELETE" method="POST" class="secondary-content">
                    <button type="submit" class="btn-flat"><i class="material-icons">delete</i></button>
                </form>
            </a>
        </li>
        <% }); %>
        <% } else { %>
            <li class="collection-item"><h6>No Beers Added Yet</h6></li>
        <% } %>
    </ul>
<div class="col s12 l5">
    <form action="/beers/search" method="GET" autocomplete="off">
        <div class="input-field">
            <i class="material-icons prefix">search</i>
            <input type="text" name="searchName" id="searchName">
            <label for="search-name">Beer to Search For</label>
        </div>
        <input type="hidden" name="catalelogId" value="<%= catalelogId %>">
        <button class="btn waves-effect waves-light" type="submit">Search for Beer</button>
    </form>

</div>
</div>

<%- include('../partials/footer.ejs') %>