<%- include('../partials/header.ejs') %>
<div class="container">
    <h3 class="indigo-text text-darken-4" id="title-show"><%= catalelog.name %></h3>

    <ul class="collection with-header">
        <li class="collection-header indigo-text text-darken-4"><h5>Beer Name</h5></li>
        <% if (catalelog.beer.length) { %>
        <% catalelog.beer.forEach(function(beer) { %>
        <li class="collection-item indigo-text text-darken-4">
            <%= beer.name %>
                <form action="/beers/<%= catalelog.id %>/<%= beer.id %>?_method=DELETE" method="POST" class="secondary-content">
                    <button type="submit" class="btn-flat"><i class="material-icons">delete</i></button>
                </form>
            </a>
        </li>
        <% }); %>
        <% } else { %>
            <li class="collection-item"><h6>No Beers Added Yet</h6></li>
        <% } %>
    </ul>
<div class="col s12 l5">
    <form action="/beers/<%= catalelog.id %>" method="POST" autocomplete="off">
        <div class="input-field">
            <i class="material-icons prefix">add_circle</i>
            <input type="text" name="name" id="name">
            <label for="name">Beer Name</label>
        </div>
        <button class="btn waves-effect waves-light" type="submit">Add Beer</button>
    </form>

<a href="/catalelogs/<%= catalelog.id %>/edit">
    <button class="btn waves-effect waves-light" id="edit-cat">Edit Name</button>
</a>
</div>
</div>

<%- include('../partials/footer.ejs') %>