<%- include('../partials/header.ejs') %>

<div class="container">
<h3>Beer Detail Page</h3>
    <p>Name: <%= beer.name %></p>
    <p>Brewery: <%= beer.brewer.name %></p>
    <p>Style: <%= beer.style %></p>
    <p>ABV: <%= beer.abv %></p>
    <p>IBU: <%= beer.ibu %></p>
</div>

<%- include('../partials/footer.ejs') %>